*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Libre Baskerville', serif;
}


h1, h2, h3{
    font-family: 'EB Garamond', serif;
}

h2{
    font-size: 32px;
}

a{
    text-decoration: none;
    color: white;
}

.text-cutout{
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 40px; 
    font-weight: bold;
    padding: 20px;
}

html,body{
    background-color: #828097;
    height: 100%;
}

.header-main{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3em 0;
    color:white;
    flex-direction: row-reverse;
}

main{
    display: flex;
}

.aside-navBar{
    background-color: black;
    color: white;
    padding: 0em 1em;
    width: 200px;
}

.nav-ul{
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-top: 5em;

}


.ul-list{
    list-style: none;
    transition: 0.2s;
    font-weight: bold;
    border-bottom: 2px transparent solid;
}

.ul-list:hover{
    border-bottom: solid 2px white;
}

.sect-principal{
    width: 100%;
}

.container-principal{
    width: 60%;
    margin: 0 auto;
    padding: 2em 0;
    display: flex;
    gap : 5em;
    flex-direction: column;
    text-align: center;
}

.moldura-img{
    background-color: rgb(255, 255, 255);
    width: 630px;
    height: 320px;
}

.item-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.footer-principal{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    gap: 1em;
}

.container-texto-footer{
    display: flex;
    width: 100%;
    justify-content: center;
}

.select{
    border-bottom: solid 2px white;
    pointer-events: none;
}

.item-historia{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap : 5em;
    margin: 0 0;
    margin-top: 2em;
    margin-bottom: 7em;
}

.container-historia{
    width: 1025px;
    margin: 0 auto;
}

.imagem-historia{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    padding: 1em;
}

.imagem-historia > p{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    color:black;
    text-align: center;
}
.container-icones{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3em;
    margin-top: 3em;
}

.container-icones > p{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.flex-icones{
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin: 3em 0;
}

.flex-icones > a{
    width: 450px;
    height: 450px;
    border: solid 4px white;
    background-color: white;
}

.flex-2000{
    display: flex;
    width: 60%;
    justify-content: space-around;
    margin: 3em 0;
}   

.item-2000{
    width: 290px;
    height: 200px;
    background-color: white;
    border: 4px white solid;
    text-align: center;
    font-size: 20px;
}

.container-artista{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3em;
    margin: 3em 0;
}

.container-artista > p{
    width: 822px;
    font-size: 20px;   
    font-weight: 700;
}

.container-artista > img{
    width: 676px;
    background-color: white;
    height: 300px;
    border: solid 2px white;
}

.flex-band{
    display: flex;
    width: 1200px;
    justify-content: space-around;
    margin: 6em 0;
}


.item-band{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-band > a > img{
    width: 320px;
    height: 280px;
    background-color: white;
    border:solid 2px white;
}

img{
    width: 100%;
    background-size: cover;
    height: 100%;
}